# 常见忽略文件
*.[oO]
*.[dD]
.*
*$*
*.bin

# 常见忽略文件夹
.*/

# -------------------------
# keil 
*.uvguix.*
*.build_log.htm
*_Project.dep
JLinkLog.txt
JModbusLog.txt
msp/MDK-ARM/output/
msp/MDK-ARM/DebugConfig/
msp/MDK-ARM/RTE/
msp/MDK-ARM/zzarc_vf_07/
release/
release.md

# clion
cmake-build-debug/

# 不忽略的文件
!.gitignore
!.vscode/
!.doc/
!.keep